body {
  align-items: center;
}

.perfilCompleto {
  width: 825px;
  /* background-color: #FFFFFF; */
  border: 1px solid #6A4A49;
}

.contenedorPerfil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerPerfil {
  width: 100%;
}

.contenedorDatosPerfil {
  background-color: violet;
  align-items: center;
  justify-self: center;
  width: 70%;
}

.datosPerfil {
  display: flex;
  flex-direction: row;
}